* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(../fonts/Cinzel-Regular.otf);
    font-family: Cinzel-Regular;
}
@font-face{
    src: url(../fonts/Poppins-Regular.otf);
    font-family: Poppins-Regular;
}
body{
    overflow-y: hidden;
}
#gold{
    background: #caa72c;
}
#goldContainer {
    background: #caa72c;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 20px;
    padding-top: 20px;
    box-shadow: -20px -20px 62px #ac8e25, 
                20px 20px 62px #e8c033;
}
small{
    font-family: Cinzel-Regular;
    color: #ffffff;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8),
                -2px -2px 12px #000000;
}
#backgroundImage{
    background: url(../img/bg-img.png);
    background-size: cover;
}
#textDiv{
    position: absolute;
    top: 40%;
    left: 65%;
}
h1{
    font-family: Cinzel-Regular;
    color: #ffffff;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8),
                -2px -2px 12px #000000;
}
h2{
    font-family: Cinzel-Regular;
    color: #ffffff;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8),
                -2px -2px 12px #000000;
}
h4{
    font-family: Poppins-Regular;
    color: #ffffff;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8),
                -2px -2px 12px #000000;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ac8e25;
    float: right;
    height: 660px;
    width: 550px;

}
a{
    width: 100px;
    height: 35px;
    font-weight: 500;
    font-family: Poppins-Regular;
    letter-spacing: 1px;
    color: #5a84a2;
    border-radius: 50px;
    box-shadow: -2px -2px 8px rgb(0, 0, 0,.15),
                -2px -2px 12px #caa72c,
                inset 2px 2px 4px#caa72c,
                2px 2px 8px rgb(0, 0, 0,.15);
}
a:hover{
    box-shadow: inset -2px -2px 8px rgb(0, 0, 0,.15),
                inset -2px -2px 12px #caa72c,
                inset 2px 2px 4px #caa72c,
                inset 2px 2px 8px rgb(0, 0, 0,.15);
}
a:hover span{
    display: inline-block;
    transform: scale(0.98);
}

#goldContainer h4, h2{
    font-family: Cinzel-Regular;
}
small{
    font-family: Poppins-Regular;
}
#goldContainer label{
    font-family: Poppins-Regular;
}
#goldContainer input{
    background: #caa72c;
}
#goldContainer input:hover{
    background: #caa72c;
    box-shadow: inset -2px -2px 8px rgb(0, 0, 0,.15),
                inset -2px -2px 12px #caa72c,
                inset 2px 2px 4px #caa72c,
                inset 2px 2px 8px rgb(0, 0, 0,.15);
}
button{
    width: 100px;
    height: 35px;
    font-weight: 500;
    font-family: Poppins-Regular;
    letter-spacing: 1px;
    background: #caa72c;
    color: #000000;
    box-shadow: -2px -2px 8px rgb(0, 0, 0,.15),
                -2px -2px 12px #caa72c,
                inset 2px 2px 4px#caa72c,
                2px 2px 8px rgb(0, 0, 0,.15);
}
button:hover{
    box-shadow: inset -2px -2px 8px rgb(0, 0, 0,.15),
                inset -2px -2px 12px #caa72c,
                inset 2px 2px 4px #caa72c,
                inset 2px 2px 8px rgb(0, 0, 0,.15);
}
button:hover span{
    display: inline-block;
    transform: scale(0.98);
}
#maRemark, #sciRemark, #engRemark, #filRemark, #pRemark{
    font-family: Poppins-Regular;
    color: #ffffff;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8),
                -2px -2px 12px #000000;
}
label{
    font-family: Poppins-Regular;
    color: #ffffff;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8),
                -2px -2px 12px #000000;
}